<html>
  <head>
    <title><%= poll.title %></title>
  </head>
  <body>
    <div>
      <h2>Poll title: <%= poll.title %></h2>
      <h3>Poll Results:</h3>
      <div id="poll-results"></div>
    </div>
    <button id="ender">Close Poll</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
