<html>
  <head>
    <title><%= poll.title %></title>
  </head>
  <body>
    <div>
      <h2>Poll title: <%= poll.title %></h2>
      <div id="poll-options">
        <% for (var i = 0; i < poll.responses.length; i++) { %>
        <button id='response-<%= i %>'><%= poll.responses[i] %></button>
        <% } %>
      </div>
      <div id="poll-results"></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
